.jumbotron {
	background: blue;
	color: #fff;
	margin-top: 110px;
}
svg {
	color: red;
}
th {
	margin: 0;
	padding-left: 100px;
	background: #000;
	color: blue
}
td {
	margin-left: : 90px;
	padding-left: : 200px;
}
.td {
	margin: 0;
	background: #cff5c3;
}
td .grupo {
	background: #cff5c3;
}
.td-1 {
	margin: 0;
	background: #abd1f8;
}
.accordion {
	margin: auto;
	display: flex;
}
